/* CSS Document */
body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px;
    background-color:#014293;
}

h1{
    font-size:4em;
    text-shadow:1px 1px black;
    color:white;
}

#yo{
    width:400px;
    height: 200px;
    border-radius: 300px;
    text-align: center;
    background-color:#FBF2C0;
    border:5px solid white;
    float: left;
}
#yo:hover{
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/49/85/6f/49856f7e311f5e79457715b55f0fdd89.jpg");
    width: 400px;
    height: 200px;
    border-radius: 300px;
    border: 5px solid white;
    color:black;
    float:left;
    
}
#skillz{
    width:400px;
    height: 200px;
    border-radius: 300px;
    text-align: center;
    background-color:#FBF2C0;
    border:5px solid white;
    float: left;
    margin-left: 35px;
}
#skillz:hover{
      width:400px;
    height: 200px;
    border-radius: 300px;
    color: black;
    text-align: center;
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/d1/9d/b4/d19db45d5e14053710c0cac5a54ae6a9.jpg");
    border: 5px solid white;
    float:left;
    margin-left: 35px;
}
.links{
    color:white;
    font-family:"Impact";
    font-size: 3em;
    margin: auto;
}
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    padding-top:25px;
    background-color:#FBF2C0;
    width:500px;
    border: 5px solid white;
    float: right;
}
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background-color:#AFEDC9;
    height:270px;
    width:430px;
    border:1px solid black;
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }
